<!-- header.html (ch07www project) -->
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <div class='navbar-brand' align=center>
                    麥香 
                </div>
            </div>
            <ul class='nav navbar-nav'>
                <li class='active'><a href='/'>Home</a></li>
                    {% if username %}
                    <li><a href='/logout'>登出</a></li>
                    <li><a href='/userinfo'>wifi資訊</a></li>
                    <li><a href='/rfidinfo'>rfid</a></li>
                    {% else %}
                    <li><a href='/login'>登入</a></li>
                    <li><a href='/register'>註冊</a></li>
                    {% endif %}
                    <li><a href='/admin'>後台管理</a></li>  
            </ul>
        </div>
    </nav>
