<!-- header.html (ch07www project) -->
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <div class='navbar-brand' align=center>
                    <a href=''>麥香砸摳</a>
                </div>
            </div>
            <ul class='nav navbar-nav'>
                <li class='active'><a href=''>Home</a></li>
                <li><a href='/admin'>後台管理</a></li>  
                <li><a href='/register'>註冊</a></li>  
                <li><a href='/login'>登入</a></li>
            </ul>
        </div>
    </nav>
