{% extends "base.html" %}
{% block title %}註冊麥香{% endblock %}
{% block content %}
<div class='container'>
{% for message in messages %}
    <div class='alert alert-warning'>{{ message }}</div>
{% endfor %}
<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-default'>
            <div class='panel-heading' align=center>
            <h3>註冊麥香</h3>
    </div>
</div>
<form action='.' method='POST'>
    {% csrf_token %}
        <!--table>
            {{ login_form.as_table }}
        </table-->
    <label for='username'>帳號:</label> 
    <input id='username' type='text' name='username'> 
    <br>
    <label for='password'>密碼:</label> 
    <input id='password' type='password' name='password'>
    <br>
    <label for='check_password'>確認密碼:</label> 
    <input id='check_password' type='password' name='check_password'>
    <br>
    <input type='submit' value='註冊'><br/>
</form>
</div>
{% endblock %}