{% extends "base.html" %}
{% block title %}修改rfid{% endblock %}
{% block content %}
{% for message in messages %}
<div class='alert alert-{{message.tags}}'>{{ message }}</div>
{% endfor %}
<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <div class='panel panel-default'>
                <div class='panel-heading' align=center>
                    <h3>修改rfid</h3>
                </div>
            </div>
        </div>
    </div>


    <div class='row'>
        <div class='col-md-12'>
            <div class='panel panel-primary'>
                <div class='panel-heading' align=center>
                    <h3>使用者的RFID</h3>
                </div>
                <div class='panel panel-body'>
                    <form action='.' method='POST'>
                        {% csrf_token %}
                        <label for='rfidname'>RFID:</label>
                        <input id='rfidname' type='text' name='rfidname'>
                        <input type='submit' value='修改' activate='false'><br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='wifiinfo' wifiname="{{ wifiname }}" wifipassword="{{ wifipassword }}"></div>
<script type="text/javascript">
    var socket;
    var rfidopen = '{"title":"rfidmode","rfidstatus":"1","wifiname":"restuie","wifipassword":"restuie555"}'
    var rfidclose = '{"title":"rfidmode","rfidstatus":"0","wifiname":"restuie","wifipassword":"restuie555"}'
    var mestr = document.getElementById('wifiinfo')
    var wifiname = document.getElementById('wifiinfo').getAttribute("wifiname")
    var wifipassword = document.getElementById('wifiinfo').getAttribute("wifipassword")

    if (!window.WebSocket) {
        window.WebSocket = window.MozWebSocket;
    }
    if (window.WebSocket) {

        socket = new WebSocket("wss://carsocket.herokuapp.com");
        //socket = new WebSocket("wss://soundnet-server.herokuapp.com");
        socket.onmessage = function (event) {
            var meStr = JSON.parse(event.data)
            var ta = document.getElementById('rfidname');
            //ta.value = wifiname
            console.log(mestr['wifiname'])
            if (mestr["title"] = "rfidresponse") {
                if (wifiname == meStr['wifiname'] && wifipassword == meStr['wifipassword']) {
                    ta.value = meStr['rfidtag']
                }
            }


            //
            //ta.value = ta.value + '\n' + event.data
        };
        socket.onopen = function (event) {
            send(rfidopen)
            var ta = document.getElementById('rfidname');
            ta.value = "";
        };
        socket.onclose = function (event) {
            send(rfidclose)
            //var ta = document.getElementById('rfidname');
            //ta.value = ta.value + "連接關閉";
        };
    } else {
        alert("你的瀏覽器不支援! WebSocket！");
    }

    function send(message) {
        if (!window.WebSocket) {
            return;
        }
        if (socket.readyState == WebSocket.OPEN) {
            socket.send(message);
        } else {
            //alert("連接沒有開啟.");
        }
    }
</script>

{% endblock %}